<div class="cta-big">
  <div class="cta-big__wrapper cta-big__wrapper-kitchen">
    <div class="cta-big__text">
      <h2 class="caption-40">
        Запись<br />
        на индивидуальный<br />
        расчёт
      </h2>
      <form action="submit" class="contact-form">
        <input class="contact-form__input" type="text" placeholder="Ваше имя" />
        <input class="contact-form__input" type="text" placeholder="Телефон" />
        <div class="order-btn__wrapper order-btn__wrapper-kitchen">
          <div class="order-btn__wrap order-btn__wrapper-kitchen">
            <button
              type="submit"
              class="order-btn primary-btn primary-btn_w100"
            >
              Заказать
            </button>
          </div>
          <p class="personal-data personal-data-kitchen text-16">
            Согласен с обработкой персональных данных в соответствии с
            Лицензионным соглашением
          </p>
        </div>
      </form>
    </div>
    <div class="cta-big__img">
      <img src="../img/kitchen_cta.png" alt="" />
    </div>
  </div>
</div>
