<section class="kitchen-descr mb-section container">
  <div class="kitchen-descr__wrapper">
    <div class="kitchen-descr__first">
      <h2 class="caption-60">Кухонный гарнитур Teramo</h2>
      <div class="primary-btn">Заказать кухню Teramo</div>
      <h3 class="kitchen-descr__features-header caption-36">Характеристики</h3>
      <ul class="kitchen-descr__features">
        <li class="kitchen-descr__features-item">
          <span>Материал</span>
          <span>МДФ</span>
        </li>
        <li class="kitchen-descr__features-item">
          <span>Покрытие</span>
          <span>Термопластик</span>
        </li>
        <li class="kitchen-descr__features-item">
          <span>Декор</span>
          <span>Фрезеровка</span>
        </li>
        <li class="kitchen-descr__features-item">
          <span>Впишется в интерьер</span>
          <span>Лофт • Минимализм</span>
        </li>
      </ul>
    </div>
    <div class="kitchen-descr__second">
      <p class="kitchen-descr__full-descr regular">
        Угловой кухонный гарнитур Teramo со встроенными колонками под технику
        подойдет для помещения свободной планировки. Правая часть гарнитура
        представлена встроенными высокими колонками, где размещена бытовая
        кухонная техника и полки для хранения.</p>
        <p class="kitchen-descr__full-descr regular">Центральная часть кухни - это
        рабочая зона со всеми необходимыми функциональными элементами. Есть и
        ящики разной высоты в нижних шкафах, и открытые полки в верхней зоне, а
        также высокие навесные шкафы с фасадами Линеа, где размещены сушка,
        встроенная вытяжка и полки.</p>
        <p class="kitchen-descr__full-descr regular">Мойка со смесителем расположены справа,
        варка почти по центру и учтено достаточное количество розеток.</p>
      </p>
      @include('./kitchen-cta-big.html')
    </div>
  </div>
</section>
