.about {
  margin-top: 100px;
  &__post-wrapper {
    display: grid;
    grid-template-columns: 1fr 46%;
    .about-post {
      &__header {
        margin-bottom: 45px;
        &:not(:first-child) {
          margin-top: 100px;
        }
      }
    }
    &_second-post {
      margin-top: 100px;
      gap: 100px;
    }
  }
  .post-img {
    float: right;
    &_second {
      float: right;
      border-radius: 40px;
    }
    &_big {
      margin-top: 100px;
      min-width: 100%;
      border-radius: 40px;
      object-fit: cover;
    }
  }
}
