.calc {
  margin-bottom: 100px;
  padding-top: 84px;
  padding-bottom: 84px;
  display: flex;
  justify-content: center;
  @include mq.mq($until: mobile) {
    padding-top: 25px;
    padding-bottom: 50px;
    margin-bottom: 0px;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 69px;
    max-width: 1400px;
    min-width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    @include mq.mq($until: mobile) {
      display: flex;
      flex-direction: column;
      padding: 0px;
    }
    .calc-form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &__radios {
        border: none;
        margin-top: 55px;
        @include mq.mq($until: mobile) {
          margin-top: 40px;
          flex-direction: column;
          align-items: start;
        }
      }
      &__header {
        @include mq.mq($until: mobile) {
          font-weight: 500;
          font-size: 32px;
          line-height: 105%;
          letter-spacing: -0.02em;
        }
      }
      &__sub-header {
        margin-top: 31px;
        @include mq.mq($until: mobile) {
          margin-top: 15px;
          font-weight: 500;
          font-size: 24px;
          line-height: 130%;
        }
      }
      label {
        font-weight: 400;
        font-size: 22px;
        line-height: 160%;
        color: #222125;
      }
      .calc-control {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include mq.mq($until: mobile) {
          display: grid;
          grid-template-areas:
            "prev next"
            "pagination pagination";
          grid-template-columns: 1fr 1fr;
          column-gap: 21px;
          margin-top: 50px;
        }
        &__pagination {
          display: flex;
          align-items: center;
          justify-content: center;
          list-style-type: none;
          cursor: pointer;
          transition: color 0.3s ease-in-out;
          @include mq.mq($until: mobile) {
            grid-area: pagination;
            margin-top: 37px;
            font-weight: 500;
            font-size: 20px;
            line-height: 130%;
          }
          .pagination-item {
            &_visited {
              color: var(--light-grey);
            }
            &_current {
              color: var(--hover-color);
            }
            &:not(:last-child) {
              margin-right: 29px;
            }
            &:hover {
              color: var(--hover-color);
            }
          }
        }
        &__prev-page {
          @include mq.mq($until: mobile) {
            grid-area: prev;
            text-align: center;
          }
        }
        &__next-page {
          @include mq.mq($until: mobile) {
            grid-area: next;
            text-align: center;
          }
        }
      }
    }
    .calc-image {
      img {
        min-height: 100%;
        min-width: 100%;
        border-radius: 40px;
        @include mq.mq($until: mobile) {
          display: none;
        }
      }
    }
  }
}

.calc-form__radios {
  display: flex;
  gap: 25px;
  align-items: center;
  .radio-label {
    cursor: pointer;
    font-weight: 500;
    position: relative;

    /* Accessible outline */
    /* Remove comment to use */
    /*
      &:focus-within {
          outline: .125em solid $primary-color;
      }
    */
    input[type="radio"] {
      position: absolute;
      left: -9999px;
      &:checked + span {
        &:before {
          box-shadow: inset 0px 0px 0px 2px var(--hover-color),
            inset 0px 0px 0px 4px #fff,
            inset 0px 0px 0px 12px var(--hover-color);
        }
      }
    }
    span {
      display: flex;
      align-items: center;
      padding: 0.375em 0.75em 0.375em 0.375em;
      border-radius: 99em; // or something higher...
      transition: 0.25s ease;
      &:hover {
        color: var(--hover-color);
        &:before {
          box-shadow: inset 0 0 0 2px var(--hover-color);
        }
      }
      &:before {
        display: flex;
        flex-shrink: 0;
        content: "";
        background-color: #fff;
        width: 21px;
        height: 21px;
        border-radius: 50%;
        margin-right: 0.375em;
        transition: 0.25s ease;
        box-shadow: inset 0 0 0 2px #222125;
      }
    }
  }
}
