.swiper {
  margin-bottom: 100px;
  width: 100%;
  min-height: 100%;
  height: 100%;
  position: relative;
}

.carusel {
  margin-bottom: 100px;
  padding: 0px;
  padding-left: 20px;
}

.carusel-list-wrapper {
  min-width: 100%;
  display: grid;
  grid-template-columns: repeat(1fr);
  @include mq.mq($until: mobile) {
    grid-template-columns: 1fr;
  }
}

.swiper-slide {
  min-height: 368px;
  @include mq.mq($until: mobile) {
    min-height: 214px;
    max-width: 322px; // Slide size on mobile
  }
  img {
    min-height: 100%;
    border-radius: 40px;
  }
}

.carusel-btn {
  position: absolute;
  z-index: 2;
  top: calc(50% - 40px);
  background: #ffffff;
  border-radius: 15px;
  padding: 20px 28px;
  cursor: pointer;
}
.carusel-prev {
  left: calc(10px - 28px);
  transform: rotate(180deg);
}
.carusel-next {
  right: calc(10px - 28px);
}
@include mq.mq($until: mobile) {
  .carusel-prev,
  .carusel-next {
    display: none;
  }
}
