.swiper {
  margin-bottom: 100px;
  width: 100%;
  min-height: 100%;
  height: 100%;
  position: relative;
}

.carusel {
  margin-top: calc(100px + 320px);
}

.carusel-list-wrapper {
  min-width: 100%;
}

.swiper-slide {
  min-width: 553px;
  min-height: 368px;
}

.carusel-btn {
  position: absolute;
  z-index: 2;
  top: calc(50% - 40px);
  background: #ffffff;
  border-radius: 15px;
  padding: 20px 28px;
  cursor: pointer;
}
.carusel-prev {
  left: calc(10px - 28px);
  transform: rotate(180deg);
}
.carusel-next {
  right: calc(10px - 28px);
}
