.header {
  @include mq.mq($until: mobile) {
    display: none;
  }
  margin-bottom: 20px;
  &__container {
    min-height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    // smaller font on small screen
    @include mq.mq($from: mobile, $until: wide) {
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
    }
    .top-nav-wrapper {
      position: relative;
      display: flex;
      align-items: center;
      margin-right: auto;
    }
    .header-burger-wrap {
      display: flex;
      align-items: center;
      cursor: pointer;
      width: 0px;
      margin: 0px;
      opacity: 0;
      transform: scale(0);
      font-weight: 500;
      font-size: 14px;
      line-height: 110%;
    }
    .header-burger {
      width: 0px;
      margin: 0px;
      opacity: 0;
      transform: scale(0);
    }
    @include mq.mq($until: desktop) {
      .header-burger {
        margin-right: 8px;
        width: auto;
        opacity: 1;
        transform: scale(1);
      }
      .header-burger-wrap {
        margin-right: 8px;
        padding-top: 15px;
        padding-bottom: 15px;
        width: auto;
        opacity: 1;
        transform: scale(1);
        &:hover + .nav__list {
          opacity: 1;
          z-index: 1;
        }
      }
    }
    .show-drop {
      opacity: 1;
      z-index: 1;
    }
    &__list {
      list-style-type: none;
      display: flex;
      align-items: center;
      transition: all 0.3s ease-in-out;
      // hide menu on small criens
      @include mq.mq($until: desktop) {
        &:hover {
          opacity: 1;
          z-index: 1;
        }
        opacity: 0;
        z-index: -1;

        position: absolute;
        flex-direction: column;
        top: 50px;
        min-width: 197px;
        padding: 25px 30px 30px 30px;
        background: #ffffff;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
        border-radius: 18.4343px;
        font-weight: 400;
        font-size: 20px;
        line-height: 130%;
        align-items: start;
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }
    &__item {
      &:not(:last-child) {
        margin-right: 12px;
      }
    }
    // &__link {
    // }
    .contact-list {
      list-style-type: none;
      display: flex;
      align-items: center;
      &__item {
        &:not(:last-child) {
          margin-right: 52px;
        }
        &:first-child {
          display: flex;
          align-items: center;
        }
        .header-phone {
          display: flex;
          align-items: center;
        }
        .whatsapp-icon {
          margin-right: 8px;
        }
      }
    }
  }
}

.logo {
  margin-right: 40px;
  font-weight: 700;
  font-size: 26px;
  line-height: 110%;
  text-transform: uppercase;
  span {
    color: var(--accent-color);
  }
  @include mq.mq($until: desktop) {
    margin-right: 34px;
  }
}
