.header {
  @include mq.mq($until: mobile) {
    display: none;
  }
  margin-bottom: 20px;
  &__container {
    min-height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;
    padding-left: var(--container-offset);
    padding-right: var(--container-offset);
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    @include mq.mq($from: mobile, $until: wide) {
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
    }
    .header-burger-wrap {
      display: flex;
      align-items: center;
      cursor: pointer;
      width: 0px;
      margin: 0px;
      opacity: 0;
      transform: scale(0);
      font-weight: 500;
      font-size: 14px;
      line-height: 110%;
    }
    .header-burger {
      width: 0px;
      margin: 0px;
      opacity: 0;
      transform: scale(0);
    }
    @include mq.mq($until: desktop) {
      .header-burger {
        margin-right: 8px;
        width: auto;
        opacity: 1;
        transform: scale(1);
      }
      .header-burger-wrap {
        margin-right: 8px;
        width: auto;
        opacity: 1;
        transform: scale(1);
      }
      .nav__item:not(:first-child) {
        display: none;
      }
    }
    &__list {
      list-style-type: none;
      display: flex;
      align-items: center;
      overflow: hidden;
    }
    &__item {
      &:not(:last-child) {
        margin-right: 12px;
      }
      &:first-child {
        margin-right: 0px;
      }
    }
    // &__link {
    // }
    .contact-list {
      list-style-type: none;
      display: flex;
      align-items: center;
      &__item {
        &:not(:last-child) {
          margin-right: 52px;
        }
        &:first-child {
          display: flex;
          align-items: center;
        }
        .header-phone {
          display: flex;
          align-items: center;
        }
        .whatsapp-icon {
          margin-right: 8px;
        }
      }
    }
  }
}

.logo {
  margin-right: 40px;
  font-weight: 700;
  font-size: 26px;
  line-height: 110%;
  text-transform: uppercase;
  span {
    color: var(--accent-color);
  }
  @include mq.mq($until: desktop) {
    margin-right: 34px;
  }
}
