.header {
  &__container {
    min-height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;
    padding-left: var(--container-offset);
    padding-right: var(--container-offset);
    &__list {
      list-style-type: none;
      display: flex;
      align-items: center;
    }
    &__item {
      &:not(:last-child) {
        margin-right: 12px;
      }
    }
    &__link {
      text-decoration: none;
      color: var(--base-font-color);
      transition: color 0.3s ease-in-out;
      &:focus {
        outline: none;
      }
      &:hover {
        color: var(--hover-color);
      }
      &:active {
        color: var(--hover-color);
      }
    }
    .contact-list {
      list-style-type: none;
      display: flex;
      align-items: center;
      &__item {
        &:not(:last-child) {
          margin-right: 52px;
        }
        &:first-child {
          display: flex;
          align-items: center;
          transition: color 0.3s ease-in-out;
          &:focus {
            outline: none;
          }
          &:hover {
            color: var(--hover-color);
          }
          &:active {
            color: var(--hover-color);
          }
        }
        .header-phone {
          display: flex;
          align-items: center;
          transition: all 0.3s ease-in-out;
          cursor: pointer;
          &:focus {
            outline: none;
          }
          &:hover {
            color: var(--hover-color);
            img {
              filter: invert(67%) sepia(95%) saturate(5217%) hue-rotate(190deg)
                brightness(94%) contrast(90%);
            }
          }
          &:active {
            color: var(--hover-color);
          }
        }
        .whatsapp-icon {
          margin-right: 8px;
        }
      }
    }
  }
}

.logo {
  margin-right: 40px;
  font-weight: 700;
  font-size: 26px;
  line-height: 110%;
  text-transform: uppercase;
  span {
    color: var(--accent-color);
  }
}

.nav__link.focus-visible {
  outline: 1px solid var(--accent-color);
  outline-offset: 3px;
}
// .contact-list__item:first-child:focus-visible {
//   outline: 1px solid var(--accent-color);
//   outline-offset: 3px;
// }
