.hero {
  margin-bottom: 100px;
  margin-top: 20px;
  min-height: fit-content;
  @include mq.mq($until: mobile) {
    margin-bottom: 50px;
  }
  &-content__wrapper {
    grid-area: stack;
    min-width: 100%;
    min-height: 100%;
    @include mq.mq($until: mobile) {
      grid-area: hero-content;
    }
  }
  &__wrapper {
    display: grid;
    place-items: center;
    grid-template-areas: "stack";
    @include mq.mq($until: mobile) {
      grid-template-areas:
        "hero-image"
        "hero-content";
    }
  }
  &__content {
    padding: 75px 98px;
    max-width: fit-content;
    min-height: fit-content;
    margin-top: 6%;
    background: #ffffff;
    border-radius: 0px 40px 40px 0px;

    display: grid;
    grid-template-areas:
      "title"
      "btn"
      "desc";
    @include mq.mq($until: mobile) {
      padding: 0;
      margin: 0;
      grid-template-areas:
        "title"
        "desc"
        "btn";
    }
  }
  // .hero-content {
  // }
  &__title {
    grid-area: title;
    margin-bottom: 10px;

    @include mq.mq($until: mobile) {
      font-weight: 500;
      font-size: 36px;
      line-height: 105%;
      letter-spacing: -0.02em;
    }
  }
  &__btn-wrap {
    @include mq.mq($until: mobile) {
      min-width: 100%;
    }
  }
  &__btn {
    grid-area: btn;
    float: right;
    margin-top: -76px;
    margin-right: -50px;
    @include mq.mq($until: mobile) {
      margin: 20px 0px 0px 0px;
      float: none;
      display: flex;
      justify-content: center;
    }
  }
  &__description {
    grid-area: desc;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 20px;
    @include mq.mq($until: mobile) {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
    }
  }

  &__bg {
    grid-area: stack;
    z-index: -1;
    @include mq.mq($until: mobile) {
      grid-area: hero-image;
      margin-bottom: 25px;
    }
  }
}
