.hero {
  margin-bottom: 100px;
  min-height: 820px;
  background-image: url(../../img/hero.jpg);
  background-repeat: no-repeat;
  background-position: calc(50% + 64px) 50%;
  @include mq.mq($until: mobile) {
    background-size: contain;
    background-position: 0% 50%;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: 45% 1fr;
    @include mq.mq($until: mobile) {
      grid-template-columns: 1fr;
    }
  }
  &__content {
    transform: translateX(-36px);
    min-width: fit-content;
    margin-top: 75px;
    padding: 75px 98px 81px 80px;
    background: #ffffff;
    border-radius: 40px;
    @include mq.mq($until: mobile) {
      min-width: 100%;
      margin-top: 236px;
      padding: 0px;
      transform: translateX(0px);
    }
  }
  &__title {
    margin-bottom: 23px;
    font-weight: 500;
    font-size: 80px;
    line-height: 100%;
    letter-spacing: -0.02em;
    @include mq.mq($until: mobile) {
      font-weight: 500;
      font-size: 36px;
      line-height: 105%;
      letter-spacing: -0.02em;
    }
  }
  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }
  .hero__btn {
    margin-left: 57px;
  }
}
