.wide-image {
  padding: 0px;
  @include mq.mq($until: mobile) {
    margin-bottom: 0px;
  }
  img {
    min-width: 100%;
    border-radius: 40px;
    object-fit: cover;
    object-position: 50% 50%;
    @include mq.mq($until: mobile) {
      height: 257px;
      border-radius: 12px;
    }
  }
}
