.promo {
  margin-bottom: 40px;
  @include mq.mq($until: mobile) {
    margin-top: 20px;
    margin-bottom: 25px;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 55px;
    padding: 30px 160px 33px 172px;
    background-color: var(--hover-color-light);
    background-image: url(../../../img/bant-right.png);
    background-repeat: no-repeat;
    background-position: 102% 0%;
    border-radius: 15px;
    @include mq.mq($until: mobile) {
      grid-template-columns: 1fr;
      padding: 25px 30px 30px 30px;
    }
  }
  &__link {
    position: relative;
    font-weight: 500;
    font-size: 22px;
    line-height: 140%;
    color: var(--hover-color);
    span {
      color: var(--accent-color);
    }
    @include mq.mq($until: mobile) {
      font-weight: 500;
      font-size: 22px;
      line-height: 140%;
    }
  }
  &__deco {
    position: absolute;
    transform: rotate(-13deg);
    top: calc(50% - 93px);
    left: -24%;
    @include mq.mq($until: mobile) {
      display: none;
    }
  }
  &__arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    @include mq.mq($until: mobile) {
      display: none;
    }
  }
  &__arrow {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 100%;
    height: 3px;
    background-color: var(--hover-color);
    &::after {
      content: " ";
      width: 14px;
      height: 14px;
      transform: rotate(45deg);
      border-top: 3px solid var(--hover-color);
      border-right: 3px solid var(--hover-color);
    }
  }
}

.promo2 {
  @include mq.mq($until: mobile) {
    margin-bottom: 50px;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 60px;
    grid-row-gap: 30px;
    padding-top: 45px;
    padding-bottom: 45px;
    place-items: center;
    background: #f4f6fa;
    border-radius: 60px;
    @include mq.mq($until: mobile) {
      grid-template-columns: 1fr;
      padding-top: 0px;
      padding-bottom: 0px;
      border-radius: 12px;
    }
  }
  &__desc {
    padding-left: 100px;
    @include mq.mq($until: mobile) {
      padding: 25px 20px 0px 20px;
    }
    h3 {
      margin-bottom: 13px;
      font-weight: 500;
      font-size: 40px;
      line-height: 120%;

      @include mq.mq($until: mobile) {
        font-weight: 500;
        font-size: 32px;
        line-height: 105%;
        letter-spacing: -0.02em;
      }
    }
    p {
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;
      letter-spacing: -0.01em;
      @include mq.mq($until: mobile) {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
      }
    }
  }
  &__btn {
    margin-top: 50px;
    display: inline-block;
    @include mq.mq($until: mobile) {
      margin-top: 30px;
      min-width: 100%;
      text-align: center;
    }
  }
  &__img {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 45px;
    img {
      width: 100%;
      min-height: 100%;
      border-radius: 40px;
      object-fit: cover;
    }
    @include mq.mq($until: mobile) {
      padding-right: 0px;
      img {
        display: flex;
        padding-right: 0px;
        border-radius: 0px 0px 12px 12px;
      }
    }
  }
}
