<div class="container mb-section">
  <div class="mw60per">
    <h2 class="caption-60">
      Мы чтим традиции производства мебели и создаем качественный продукт из
      натуральных материалов, воплощая самые модные тенденции
    </h2>
    <p class="regular">
      Компания «СК МЕБЕЛЬ» существует на рынке более 20 лет. Многим людям
      присуще желание сделать любимый дом уютным, теплым, уникальным. У каждого
      дома своеобразный стиль, своя душа, неповторимая атмосфера, которая
      передает характер хозяев, их взаимоотношения, имеет особую ауру. Интерьер
      способен многое рассказать.
    </p>
  </div>
</div>
