<section class="advantages container mb-section">
  <h2 class="caption-40 mb-25px">Наши конкурентные преимущества</h2>
  <div class="advantages__wrapper">
    <div class="advantages__item">
      <img src="../../img/advant_1.jpg" alt="Преимущества" />
      <p>Фиксированная цена, отсутствие наценок</p>
    </div>
    <div class="advantages__item">
      <img src="../../img/advant_2.jpg" alt="Преимущества" />
      <p>Фиксированная цена, отсутствие наценок</p>
    </div>
    <div class="advantages__item">
      <img src="../../img/advant_3.jpg" alt="Преимущества" />
      <p>Фиксированная цена, отсутствие наценок</p>
    </div>
    <div class="advantages__item">
      <img src="../../img/advant_4.jpg" alt="Преимущества" />
      <p>Фиксированная цена, отсутствие наценок</p>
    </div>
    <div class="advantages__item">
      <img src="../../img/advant_5.jpg" alt="Преимущества" />
      <p>Фиксированная цена, отсутствие наценок</p>
    </div>
    <div class="advantages__item">
      <img src="../../img/advant_6.jpg" alt="Преимущества" />
      <p>Фиксированная цена, отсутствие наценок</p>
    </div>
  </div>
</section>
