<div class="production-page__about container mb-section">
  <div class="production-page__big-img">
    @include('../../partials/wide-image.html')
  </div>
  <div class="production-page__text mw60per">
    <h3 class="caption-40 mb-45_25">Мебельная компания – ООО «СК МЕБЕЛЬ»</h2>
    <p class="regular mb-section">
      Многим людям присуще желание сделать любимый дом уютным, теплым,
      уникальным. У каждого дома своеобразный стиль, своя душа, неповторимая
      атмосфера, которая передает характер хозяев, их взаимоотношения, имеет
      особую ауру. Интерьер способен многое рассказать о вкусах владельцев,
      приоткрыть сферы их интересов, пристрастий, подчеркнуть статус.
    </p>
    <h3 class="caption-40 mb-45_25">Гармоничными вам покажутся и наши цены</h3>
    <p class="regular">
      У каждого дома своеобразный стиль, своя душа, неповторимая атмосфера,
      которая передает характер хозяев, их взаимоотношения, имеет особую ауру.
    </p>
    <p class="regular">
      каждого дома своеобразный стиль, своя душа, неповторимая атмосфера, У
      каждого дома своеобразный стиль, своя душа, неповторимая атмосфера,
      которая передает характер хозяев, их взаимоотношения, имеет особую ауру.
    </p>
    <p class="regular">
      Которая передает характер хозяев, их неповторимая имеет особую ауру.
    </p>
  </div>
</div>
