<section class="container mb-section">
  <div class="contacts__wrapper">
    <div class="contacts__info">
      <h1 class="caption-60">Контакты</h1>
      <div class="contacts__item">
        <p class="contacts__item-header">Консультация по всем вопросам</p>
        <a class="contacts__item-link" href="tel:+79996652233"
          >+7 999 665 22 33</a
        >
      </div>
      <div class="contacts__item">
        <p class="contacts__item-header">Электронная почта компании</p>
        <a class="contacts__item-link" href="mailto:info@sevol.ru"
          >info@sevol.ru</a
        >
      </div>
      <div class="contacts__item">
        <p class="contacts__item-header">Офис компании</p>
        <p class="caption-36">г. Ставрополь, ул. Жиделёва 1, к22</p>
        <p class="contacts__item-header contacts__item-sub">Индекс 153555</p>
      </div>
      <div class="contacts__item">
        <p class="contacts__item-header_big">Дополнительная информация</p>
        <p class="caption-36">ИНН 7805413339</p>
        <p class="caption-36">ОГРН 108984324234283</p>
      </div>
    </div>
    <div class="contacts__form contacts-form">
      <div class="contacts-form__wrapper">
        <h3 class="contacts-form__header caption-40">
          Запишитесь на бесплатный замер
        </h3>
        <form action="submit" class="contact-form">
          <input
            class="contact-form__input"
            type="text"
            placeholder="Ваше имя"
          />
          <input
            class="contact-form__input mb-58px"
            type="text"
            placeholder="Телефон"
          />

          <div class="order-btn__wrap mb-18px">
            <button
              type="submit"
              class="order-btn primary-btn primary-btn_w100"
            >
              Заказать
            </button>
          </div>
          <p class="personal-data text-16">
            Согласен с обработкой персональных данных в соответствии с
            Лицензионным соглашением
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
