<div class="container mb-section">
  <div style="position: relative; overflow: hidden">
    <a
      href="https://yandex.ru/maps/5/ivanovo/?utm_medium=mapframe&utm_source=maps"
      style="color: #eee; font-size: 12px; position: absolute; top: 0px"
      >Иваново</a
    ><a
      href="https://yandex.ru/maps/5/ivanovo/?ll=40.973921%2C57.000348&utm_medium=mapframe&utm_source=maps&z=13"
      style="color: #eee; font-size: 12px; position: absolute; top: 14px"
      >Яндекс Карты — транспорт, навигация, поиск мест</a
    ><iframe
      src="https://yandex.ru/map-widget/v1/?ll=40.973921%2C57.000348&z=13"
      width="100%"
      height="454"
      frameborder="1"
      allowfullscreen="true"
      style="position: relative; border: none"
    ></iframe>
  </div>
</div>
