<section class="carusel container">
  <div class="carusel-list-wrapper">
    <!-- Slider main container -->
    <div class="slider_6040 swiper">
      <!-- If we need navigation buttons -->
      <div class="top-slider-btn carusel-btn carusel-prev">
        <img src="./img/arrow_right.svg" alt="Далее" />
      </div>
      <div class="top-slider-btn carusel-btn carusel-next">
        <img src="./img/arrow_right.svg" alt="Далее" />
      </div>

      <!-- Additional required wrapper -->
      <div class="swiper-wrapper slider_6040-wrapper">
        <!-- Slides -->
        <div class="swiper-slide slider_6040-slide">
          <img src="../../img/production_slide_1.jpg" alt="Кухня 1" />
        </div>
        <div class="swiper-slide slider_6040-slide">
          <img src="../../img/production_slide_2.jpg" alt="Кухня 2" />
        </div>
        <div class="swiper-slide slider_6040-slide">
          <img src="../../img/production_slide_1.jpg" alt="Кухня 1" />
        </div>
        <div class="swiper-slide slider_6040-slide">
          <img src="../../img/production_slide_2.jpg" alt="Кухня 2" />
        </div>
      </div>
    </div>
  </div>
</section>
