<section class="carusel container">
  <div class="carusel-list-wrapper">
    <!-- Slider main container -->
    <div class="swiper slider_4products">
      <!-- If we need navigation buttons -->
      <div class="carusel-btn carusel-btn-shop carusel-prev">
        <img src="./img/arrow_right.svg" alt="Далее" />
      </div>
      <div class="carusel-btn carusel-btn-shop carusel-next">
        <img src="./img/arrow_right.svg" alt="Далее" />
      </div>

      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="shop-item shop-item_slider">
            <a href="#">
              <img src="./img/shop_1.jpg" alt="Кухня" />
              <h3 class="shop-item__header caption-30">
                Кухонный гарнитур Лион - Старт
              </h3>
              <p class="shop-item__description regular">
                Описание рыба текст изготовить гарнитур на зак..
              </p>
              <p class="shop-item__price caption-30">159 662 220 ₽</p>
            </a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="shop-item shop-item_slider">
            <a href="#">
              <img src="./img/shop_2.jpg" alt="Кухня" />
              <h3 class="shop-item__header caption-30">
                Кухонный гарнитур Лион - Старт
              </h3>
              <p class="shop-item__description regular">Описание рыба</p>
              <p class="shop-item__price caption-30">159 662 220 ₽</p>
            </a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="shop-item shop-item_slider">
            <a href="#">
              <img src="./img/shop_3.jpg" alt="Кухня" />
              <h3 class="shop-item__header caption-30">Гарнитур Лион</h3>
              <p class="shop-item__description regular">
                Описание рыба текст изготовить гарнитур на зак..
              </p>
              <p class="shop-item__price caption-30">562 220 ₽</p>
            </a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="shop-item shop-item_slider">
            <a href="#">
              <img src="./img/shop_4.jpg" alt="Кухня" />
              <h3 class="shop-item__header caption-30">
                Кухонный гарнитур Лион - Старт
              </h3>
              <p class="shop-item__description regular">
                Описание рыба текст изготовить гарнитур на зак..
              </p>
              <p class="shop-item__price caption-30">159 662 220 ₽</p>
            </a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="shop-item shop-item_slider">
            <a href="#">
              <img src="./img/shop_4.jpg" alt="Кухня" />
              <h3 class="shop-item__header caption-30">
                Кухонный гарнитур Лион - Старт
              </h3>
              <p class="shop-item__description regular">
                Описание рыба текст изготовить гарнитур на зак..
              </p>
              <p class="shop-item__price caption-30">159 662 220 ₽</p>
            </a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="shop-item shop-item_slider">
            <a href="#">
              <img src="./img/shop_1.jpg" alt="Кухня" />
              <h3 class="shop-item__header caption-30">
                Кухонный гарнитур Лион - Старт
              </h3>
              <p class="shop-item__description regular">
                Описание рыба текст изготовить гарнитур на зак..
              </p>
              <p class="shop-item__price caption-30">159 662 220 ₽</p>
            </a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="shop-item shop-item_slider">
            <a href="#">
              <img src="./img/shop_1.jpg" alt="Кухня" />
              <h3 class="shop-item__header caption-30">
                Кухонный гарнитур Лион - Старт
              </h3>
              <p class="shop-item__description regular">
                Описание рыба текст изготовить гарнитур на зак..
              </p>
              <p class="shop-item__price caption-30">159 662 220 ₽</p>
            </a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="shop-item shop-item_slider">
            <a href="#">
              <img src="./img/shop_1.jpg" alt="Кухня" />
              <h3 class="shop-item__header caption-30">
                Кухонный гарнитур Лион - Старт
              </h3>
              <p class="shop-item__description regular">
                Описание рыба текст изготовить гарнитур на зак..
              </p>
              <p class="shop-item__price caption-30">159 662 220 ₽</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
