<section class="about container" id="about">
  <div class="about__post-wrapper">
    <div class="about__post about-post">
      <h2 class="about-post__header caption-40">
        Мы чтим традиции производства мебели и создаем качественный продукт из
        натуральных материалов, воплощая самые модные тенденции
      </h2>
      <p class="about-post__text regular">
        Компания «СК МЕБЕЛЬ» существует на рынке более 20 лет. Многим людям
        присуще желание сделать любимый дом уютным, теплым, уникальным. У
        каждого дома своеобразный стиль, своя душа, неповторимая атмосфера,
        которая передает характер хозяев, их взаимоотношения, имеет особую ауру.
        Интерьер способен многое рассказать.
      </p>
      <h2 class="about-post__header caption-40">
        Наши конкурентные преимущества
      </h2>
      <ul class="about-post__ul ul-inside regular">
        <li>полный цикл производства на базе собственных предприятий</li>
        <li>создание 65-70 видов актуального дизайна ткани ежемесячно</li>
        <li>контроль качества на каждом этапе производства – от закупки сырья до
            пошива
        </li>
        <li>работа под заказ</li>
      </ul>
      <p class="about-post__text regular">
        Богатый мебельный рынок в наше время может удовлетворить потребности
        многих собственников жилья, но лишь мебель, выполненная на заказ,
        позволит создать неординарную обстановку, отвечающую вашим требованиям.
        Часто делают подобные заказы для помещений, обладающих нестандартными
        формами и размерами. Благодаря применению новейших технологий,
        значительно удешевивших производство, заказ по собственным размерам стал
        доступен всем.
      </p>
    </div>
    <div class="post-img__wrapper">
      <img
        src="../img/post_img.png"
        alt="Картинка со стулом"
        class="post-img"
      />
    </div>
  </div>
  <img src="../img/post_img_1.jpg" alt="Мебель" class="post-img_big" />
  <div class="about__post-wrapper about__post-wrapper_second-post">
    <div class="about__post about-post">
      <h2 class="about-post__header caption-40">
        Мебельная компания – ООО «СК МЕБЕЛЬ»
      </h2>
      <p class="about-post__text regular">
        Многим людям присуще желание сделать любимый дом уютным, теплым,
        уникальным. У каждого дома своеобразный стиль, своя душа, неповторимая
        атмосфера, которая передает характер хозяев, их взаимоотношения, имеет
        особую ауру. Интерьер способен многое рассказать о вкусах владельцев,
        приоткрыть сферы их интересов, пристрастий, подчеркнуть статус.
      </p>
      <h2 class="about-post__header caption-40">
        Гармоничными вам покажутся и наши цены
      </h2>
        <p class="about-post__text regular">
          У каждого дома своеобразный стиль, своя душа, неповторимая атмосфера,
          которая передает характер хозяев, их взаимоотношения, имеет особую ауру.
        </p>
        <p class="regular">У каждого дома своеобразный стиль, своя душа, неповторимая атмосфера, У
          каждого дома своеобразный стиль, своя душа, неповторимая атмосфера,
          которая передает характер хозяев, их взаимоотношения, имеет особую ауру.
        </p>
        <p class="regular">
          Которая передает характер хозяев, их неповторимая имеет особую ауру.
        </p>
      </p>
    </div>
    <div class="post-img__wrapper">
      <img
        src="../img/post_img_2.jpg"
        alt="Картинка со стулом"
        class="post-img_second"
      />
    </div>
  </div>
</section>
