<div class="bg-wrapp">
  <section class="calc container" id="calc">
    <div class="calc__wrapper">
      <div class="calc-form">
        <div>
          <h3 class="calc-form__header caption-60">
            Рассчитать стоимость вашей кухни
          </h3>
          <p class="calc-form__sub-header caption-36">
            Какую кухню рассматривайте?
          </p>
          <form class="form">
            <fieldset class="calc-form__radios">
              <label class="radio-label">
                <input
                  type="radio"
                  name="type"
                  value="straight"
                  id="straight"
                />
                <span>Прямая</span>
              </label>
              <label class="radio-label">
                <input
                  type="radio"
                  name="type"
                  value="corner"
                  id="corner"
                  checked
                />
                <span>Угловая</span>
              </label>
              <label class="radio-label">
                <input
                  type="radio"
                  name="type"
                  value="individual"
                  id="individual"
                />
                <span>Индивидуальная</span>
              </label>
            </fieldset>
          </form>
        </div>
        <div class="calc-control">
          <a href="#" class="primary-btn inactive-btn">Назад</a>
          <ul class="calc-control__pagination">
            <li class="pagination-item pagination-item_visited">1</li>
            <li class="pagination-item pagination-item_current">2</li>
            <li class="pagination-item active-page">3</li>
            <li class="pagination-item">4</li>
          </ul>
          <a href="#" class="primary-btn">Далее</a>
        </div>
        <!-- *********************************** -->

        <!-- *********************************** -->
      </div>
      <div class="calc-image">
        <img src="./img/calc.jpg" alt="calc" />
      </div>
    </div>
  </section>
</div>
