<div class="">
  <section class="cta-big container bg-wrapp bg-wrapp_round" id="cta-big">
    <div class="cta-big__wrapper">
      <div class="cta-big__text">
        <h2 class="caption-60">
          Закажите кухню прямо сейчас и получите ее уже через 2,5 недели
        </h2>
        <form action="submit" class="contact-form">
          <input
            class="contact-form__input"
            type="text"
            placeholder="Ваше имя"
          />
          <input
            class="contact-form__input"
            type="text"
            placeholder="Телефон"
          />
          <div class="order-btn__wrapper">
            <div><a href="" class="order-btn primary-btn">Заказать</a></div>
            <p class="personal-data text-16">
              Согласен с обработкой персональных данных в соответствии с
              Лицензионным соглашением
            </p>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
