<section class="cta container" id="cta">
  <div class="cta__wrapper">
    <div class="cta__bg-img">
      <div class="cta-text__wrapper">
        <div class="cta__text">
          <h2 class="cta__header caption-60">
            Мы изготавливаем кухни в разных стилях и цветовых сочетаниях
          </h2>
          <p class="cta__description regular">
            Многим людям присуще желание сделать любимый дом уютным, теплым,
            уникальным. У каждого дома своеобразный стиль, своя душа,
            неповторимая атмосфера, которая передает характер хозяев, их
            взаимоотношения, имеет особую ауру. Интерьер способен многое
            рассказать о вкусах владельцев, приоткрыть сферы их интересов,
            пристрастий, подчеркнуть статус.
          </p>
          <a class="primary-btn cta__btn" href="#">Закажите замер бесплатно</a>
        </div>
      </div>
    </div>
  </div>
</section>
