<section class="hero">
  <div class="container hero__wrapper">
    <div class="hero__bg">
      <img src="../img/hero.jpg" alt="" />
    </div>
    <div class="hero-content__wrapper">
      <div class="hero__content">
        <h1 class="hero__title caption-80">Производство<br />мебели</h1>
        <div class="hero__btn">
          <a href="#" class="primary-btn hero__btn"
            >Заказать&nbsp;кухню&nbsp;мечты</a
          >
        </div>
        <p class="hero__description regular">
          Проведите время на кухне с комфортом и наслаждением
        </p>
      </div>
    </div>
  </div>
</section>
