<section class="hero">
  <div class="container hero__wrapper">
    <div class="hero__content">
      <h1 class="hero__title">
        Производство
        <div class="nowrap">
          мебели
          <div>
            <a href="#" class="primary-btn hero__btn"
              >Заказать&nbsp;кухню&nbsp;мечты</a
            >
          </div>
        </div>
      </h1>
      <p class="hero__description regular">
        Проведите время на кухне с комфортом и наслаждением
      </p>
    </div>
  </div>
</section>
