<section class="kitchens container" id="kitchens">
  <div class="kitchens__wrapper">
    <div class="kitchens__image">
      <img src="./img/kitchen_1.jpg" alt="Кухня" />
    </div>
    <div class="kitchens__text-wrapper">
      <div class="kitchens__text">
        <div class="kitchens__header caption-40">Классические кухни</div>
        <div class="kitchens__description regular">
          Маленькая кухня может стать удобной, красивой и функциональной если
          хорошо продумать ее дизайн, изготовить гарнитур на заказ с современной
          начинкой и использовать встроенную технику.
        </div>
      </div>
    </div>
  </div>
  <div class="kitchens__wrapper">
    <div class="kitchens__image kitchens__image_right">
      <img src="./img/kitchen_2.jpg" alt="Кухня" />
    </div>
    <div class="kitchens__text-wrapper kitchens__text-wrapper_left">
      <div class="kitchens__text">
        <div class="kitchens__header caption-40">Кухни модерн</div>
        <div class="kitchens__description regular">
          Маленькая кухня может стать удобной, красивой и функциональной если
          хорошо продумать ее дизайн, изготовить гарнитур на заказ с современной
          начинкой и использовать встроенную технику.
        </div>
      </div>
    </div>
  </div>
</section>
