<footer class="mob-footer">
  <div class="mob-footer__header">
    <a href="#" class="logo"><span>СК</span>&nbsp;мебель</a>
    <a href="#" class="go-up"
      >Наверх&nbsp;<img src="../img/up_arrow.svg" alt="Наверх"
    /></a>
  </div>
  <ul class="mob-footer__nav">
    <li class="mob-footer__nav-item">
      <a href="#" class="mob-footer__nav-item-link link-hover">
        Наши проекты
        <svg
          width="8"
          height="12"
          viewBox="0 0 8 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1.4 12L0 10.6L4.6 6L0 1.4L1.4 0L7.4 6L1.4 12Z"
            fill="#9DA4AF"
          />
        </svg>
      </a>
    </li>
    <li class="mob-footer__nav-item">
      <a href="#" class="mob-footer__nav-item-link link-hover"
        >Производство
        <svg
          width="8"
          height="12"
          viewBox="0 0 8 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1.4 12L0 10.6L4.6 6L0 1.4L1.4 0L7.4 6L1.4 12Z"
            fill="#9DA4AF"
          /></svg
      ></a>
    </li>
    <li class="mob-footer__nav-item">
      <a href="#" class="mob-footer__nav-item-link link-hover">
        О компании
        <svg
          width="8"
          height="12"
          viewBox="0 0 8 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1.4 12L0 10.6L4.6 6L0 1.4L1.4 0L7.4 6L1.4 12Z"
            fill="#9DA4AF"
          />
        </svg>
      </a>
    </li>
    <li class="mob-footer__nav-item">
      <a href="#" class="mob-footer__nav-item-link link-hover">
        Акции
        <svg
          width="8"
          height="12"
          viewBox="0 0 8 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1.4 12L0 10.6L4.6 6L0 1.4L1.4 0L7.4 6L1.4 12Z"
            fill="#9DA4AF"
          />
        </svg>
      </a>
    </li>
    <li class="mob-footer__nav-item">
      <a href="#" class="mob-footer__nav-item-link link-hover">
        3D Дизайн
        <svg
          width="8"
          height="12"
          viewBox="0 0 8 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1.4 12L0 10.6L4.6 6L0 1.4L1.4 0L7.4 6L1.4 12Z"
            fill="#9DA4AF"
          />
        </svg>
      </a>
    </li>
    <li class="mob-footer__nav-item">
      <a href="#" class="mob-footer__nav-item-link link-hover">
        Контакты
        <svg
          width="8"
          height="12"
          viewBox="0 0 8 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1.4 12L0 10.6L4.6 6L0 1.4L1.4 0L7.4 6L1.4 12Z"
            fill="#9DA4AF"
          />
        </svg>
      </a>
    </li>
  </ul>

  <ul class="mob-footer__contacts mob-contacts">
    <li class="mob-contacts__item">
      <a class="header-phone phone link-hover" href="tel:+79195557755"
        >+7 919 555 77 55</a
      >
    </li>
    <li class="mob-contacts__item">
      <a href="mailto:ceo@wehaveanidea.ru" class="link-hover"
        >ceo@wehaveanidea.ru</a
      >
    </li>
    <li class="mob-contacts__item mob-social-list">
      <div class="social-list__wrapper">
        <a href="#" class="social-list__item mob-social-list__item link-hover">
          <img src="../img/telegram.svg" alt="telegram" />
        </a>
        <a href="#" class="social-list__item mob-social-list__item link-hover">
          <img src="../img/whatsapp_1.svg" alt="whatsapp" />
        </a>
        <a href="#" class="social-list__item mob-social-list__item link-hover">
          <img src="../img/vk.svg" alt="vk" />
        </a>
        <a href="#" class="social-list__item mob-social-list__item link-hover">
          <img src="../img/hh.svg" alt="hh" />
        </a>
      </div>
    </li>
    <li class="copy">
      <p>2015-2023 ООО «СК МЕБЕЛЬ»</p>
      <a href="#" class="link-hover">Политика конфиденциальности</a>
    </li>
  </ul>
</footer>
