<section class="projects container" id="projects">
  <h1 class="caption-80">Кухни на заказ в Ставрополе</h1>

  <div class="projects__wrapper">
    <img
      class="project-img project-img-1"
      src="./img/project_1.jpg"
      alt="Проект кухни"
    />
    <img
      class="project-img project-img-2"
      src="./img/project_2.jpg"
      alt="Проект кухни"
    />
    <img
      class="project-img project-img-3"
      src="./img/project_3.jpg"
      alt="Проект кухни"
    />
    <div class="project project-1">
      <h2 class="project-header caption-36">
        <a href="#" class="link-hover">Маленькие кухни</a>
        <span>до 6 м2</span>
      </h2>
      <p class="project-description regular">
        Маленькая кухня может стать удобной, красивой и функциональной если
        хорошо продумать ее дизайн, изготовить гарнитур на заказ с современной
      </p>
    </div>
    <div class="project project-2">
      <h2 class="project-header caption-36 project-header_active">
        <a href="#" class="link-hover">Стандартные кухни</a>
        <span>от 7 до 12 м2</span>
      </h2>
      <p class="project-description regular">
        Маленькая кухня может стать удобной, красивой и функциональной если
        хорошо продумать ее дизайн, изготовить
      </p>
    </div>
    <div class="project project-3">
      <h2 class="project-header caption-36">
        <a href="#" class="link-hover">Большие кухни</a>
        <span>от 13 м2</span>
      </h2>
      <p class="project-description regular">
        Маленькая кухня может стать удобной, красивой и функциональной
      </p>
    </div>
  </div>

  <div class="production">
    <div class="production__wrapper">
      <div class="production__text">
        <h2 class="production__header caption-60">Наше производство</h2>
        <p class="production__description regular">
          Маленькая кухня может стать удобной, красивой и функциональной если
          хорошо продумать ее дизайн, изготовить гарнитур на заказ с современной
          начинкой и использовать встроенную технику. Продумать ее дизайн,
          изготовить гарнитур на заказ с современной начинкой и использовать
          встроенную технику. Красивой и функциональной если хорошо продумать ее
          дизайн, изготовить гарнитур на заказ с современной начинкой и
          использовать встроенную технику. Маленькая кухня может стать удобной,
          красивой и функциональной если хорошо продумать ее дизайн.
        </p>
      </div>
      <div class="production__video">
        <img class="prod-vid" src="./img/prod-vid.jpg" alt="Производство" />
        <img class="play-btn" src="./img/play.svg" alt="Play" />
      </div>
    </div>
  </div>
</section>
