<section class="projects container" id="projects">
  <h1 class="caption-80">Кухни на заказ в Ставрополе</h1>
  <div class="projects__wrapper">
    <div class="projects__images">
      <img class="project-img" src="./img/project_1.jpg" alt="Проект кухни" />
    </div>
    <div class="projects__control">
      <div class="project">
        <h2 class="project-header caption-36">
          Маленькие кухни
          <span>до 6 м2</span>
        </h2>
        <p class="project-description regular">
          Маленькая кухня может стать удобной, красивой и функциональной если
          хорошо продумать ее дизайн, изготовить гарнитур на заказ с современной
        </p>
      </div>
      <div class="project">
        <h2 class="project-header caption-36 project-header_active">
          Стандартные кухни
          <span>от 7 до 12 м2</span>
        </h2>
        <p class="project-description regular">
          Маленькая кухня может стать удобной, красивой и функциональной если
          хорошо продумать ее дизайн, изготовить
        </p>
      </div>
      <div class="project">
        <h2 class="project-header caption-36">
          Большие кухни
          <span>от 13 м2</span>
        </h2>
        <p class="project-description regular">
          Маленькая кухня может стать удобной, красивой и функциональной
        </p>
      </div>
    </div>
  </div>

  <div class="production">
    <div class="production__wrapper">
      <div class="production__text">
        <h2 class="production__header caption-60">Наше производство</h2>
        <p class="production__description regular">
          Маленькая кухня может стать удобной, красивой и функциональной если
          хорошо продумать ее дизайн, изготовить гарнитур на заказ с современной
          начинкой и использовать встроенную технику. Продумать ее дизайн,
          изготовить гарнитур на заказ с современной начинкой и использовать
          встроенную технику. Красивой и функциональной если хорошо продумать ее
          дизайн, изготовить гарнитур на заказ с современной начинкой и
          использовать встроенную технику. Маленькая кухня может стать удобной,
          красивой и функциональной если хорошо продумать ее дизайн.
        </p>
      </div>
      <!-- Пока нет видео -->
      <!-- <video>
        <source
          src="https://www.youtube.com/watch?v=ZMvmlUKl3EU"
        />
      </video> -->
      <!-- Пока нет видео -->
      <div class="production__video">
        <img class="prod-vid" src="./img/prod-vid.jpg" alt="Производство" />
        <img class="play-btn" src="./img/play.svg" alt="Play" />
      </div>
    </div>
  </div>
</section>
