<section class="shop container" id="shop">
  <div class="shop__header">
    <h2>Готовые кухни</h2>
    <a href="#"><img src="./img/Vector.svg" alt="" /></a>
  </div>
  <ul class="shop-list">
    <li class="shop-item">
      <img src="./img/shop_1.jpg" alt="Кухня" />
      <h3 class="shop-item__header caption-30">
        Кухонный гарнитур Лион - Старт
      </h3>
      <p class="shop-item__description regular">
        Описание рыба текст изготовить гарнитур на зак..
      </p>
      <p class="shop-item__price caption-30">159 662 220 ₽</p>
    </li>
    <li class="shop-item">
      <img src="./img/shop_2.jpg" alt="Кухня" />
      <h3 class="shop-item__header caption-30">
        Кухонный гарнитур Лион - Старт
      </h3>
      <p class="shop-item__description regular">Описание рыба</p>
      <p class="shop-item__price caption-30">159 662 220 ₽</p>
    </li>
    <li class="shop-item">
      <img src="./img/shop_3.jpg" alt="Кухня" />
      <h3 class="shop-item__header caption-30">Гарнитур Лион</h3>
      <p class="shop-item__description regular">
        Описание рыба текст изготовить гарнитур на зак..
      </p>
      <p class="shop-item__price caption-30">562 220 ₽</p>
    </li>
    <li class="shop-item">
      <img src="./img/shop_4.jpg" alt="Кухня" />
      <h3 class="shop-item__header caption-30">
        Кухонный гарнитур Лион - Старт
      </h3>
      <p class="shop-item__description regular">
        Описание рыба текст изготовить гарнитур на зак..
      </p>
      <p class="shop-item__price caption-30">159 662 220 ₽</p>
    </li>
  </ul>
</section>
