<section class="shop container" id="shop">
  <div class="shop__header">
    <div class="shop__header-wrapp">
      <h2>Готовые кухни</h2>
      <a href="#" class="shop__header-icon">
        <svg
          width="31"
          height="31"
          viewBox="0 0 31 31"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M3.93464 30.9998L0.667969 27.7332L23.068 5.33317H3.0013V0.666504H31.0013V28.6665H26.3346V8.59984L3.93464 30.9998Z"
            fill="#2086E4"
          />
        </svg>
      </a>
    </div>
    <span class="shop__header-mob-link">перейти</span>
  </div>
  <ul class="shop-list">
    <li class="shop-item">
      <a href="#">
        <img src="./img/shop_1.jpg" alt="Кухня" />
        <h3 class="shop-item__header caption-30">
          Кухонный гарнитур Лион - Старт
        </h3>
        <p class="shop-item__description regular">
          Описание рыба текст изготовить гарнитур на зак..
        </p>
        <p class="shop-item__price caption-30">159 662 220 ₽</p>
      </a>
    </li>
    <li class="shop-item">
      <a href="#">
        <img src="./img/shop_2.jpg" alt="Кухня" />
        <h3 class="shop-item__header caption-30">
          Кухонный гарнитур Лион - Старт
        </h3>
        <p class="shop-item__description regular">Описание рыба</p>
        <p class="shop-item__price caption-30">159 662 220 ₽</p>
      </a>
    </li>
    <li class="shop-item">
      <a href="#">
        <img src="./img/shop_3.jpg" alt="Кухня" />
        <h3 class="shop-item__header caption-30">Гарнитур Лион</h3>
        <p class="shop-item__description regular">
          Описание рыба текст изготовить гарнитур на зак..
        </p>
        <p class="shop-item__price caption-30">562 220 ₽</p>
      </a>
    </li>
    <li class="shop-item">
      <a href="#">
        <img src="./img/shop_4.jpg" alt="Кухня" />
        <h3 class="shop-item__header caption-30">
          Кухонный гарнитур Лион - Старт
        </h3>
        <p class="shop-item__description regular">
          Описание рыба текст изготовить гарнитур на зак..
        </p>
        <p class="shop-item__price caption-30">159 662 220 ₽</p>
      </a>
    </li>
  </ul>
</section>
