// @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@include font-face("Inter", "../resources/fonts/Inter.woff2", 400, normal);
@include font-face("Inter", "../resources/fonts/Inter.woff2", 500, bold);
@include font-face("Inter", "../resources/fonts/Inter.woff2", 600, extra-bold);

body {
  color: var(--base-font-color);
  font-weight: 400;
  font-family: var(--font-family);
}

a {
  color: var(--base-font-color);
}
