// Media Quories
// @include mq($from: mobile, $until: tablet) {
//   background: blue;
// }
body {
  position: relative;
}

// .container-offset {
//   padding-left: -var(--container-offset);
//   padding-right: -var(--container-offset);
//   @include mq.mq($until: mobile) {
//     padding-left: 0;
//     padding-right: 0;
//   }
// }

// Buttons
.primary-btn {
  background: var(--accent-color);
  border-radius: 20px;
  border: none;
  padding: 22px 30px;
  cursor: pointer;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  text-align: center;
  svg path {
    fill: var(--light-accent);
  }
  &:hover {
    background: var(--light-accent);
    color: var(--accent-color);
    svg path {
      fill: var(--accent-color);
    }
  }
  &_w100 {
    min-width: 100%;
  }
}
.secondary-btn {
  background: var(--light-accent);
  color: var(--accent-color);
  border-radius: 16px;
  padding: 16px 32px;
  max-height: 55px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  &:hover {
    background: var(--accent-color);
    color: #ffffff;
  }
}

.grey-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  padding-top: 22px;
  padding-bottom: 22px;

  background: #e6e9ef;
  border-radius: 20px;
  border: none;
  cursor: pointer;

  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: #737d8c;

  transition: all 0.3s ease-in-out;

  svg {
    margin-left: 16px;
  }

  &:hover {
    background-color: var(--accent-color);
    color: var(--light-color);
  }
}

.inactive-btn {
  background: #e6e9ef;
  color: var(--light-grey);
}

// Headings

.caption-80 {
  font-weight: 500;
  font-size: 80px;
  line-height: 100%;
  letter-spacing: -0.02em;
}
.caption-60 {
  font-weight: 500;
  font-size: 60px;
  line-height: 110%;
  letter-spacing: -0.02em;
  margin-bottom: 40px;
  @include mq.mq($until: mobile) {
    font-size: 32px;
    line-height: 105%;
    margin-bottom: 15px;
  }
}
.caption-36 {
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
}
.caption-40 {
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  @include mq.mq($until: mobile) {
    font-size: 24px;
    line-height: 130%;
  }
}
.caption-30 {
  font-weight: 600;
  font-size: 30px;
  line-height: 130%;
}

// Text

.regular {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.01em;
  margin-bottom: 42px;
  @include mq.mq($until: mobile) {
    font-size: 16px;
    line-height: 140%;
  }
}

.ul-inside {
  list-style-position: outside;
  padding-left: 1.5em;
  @include mq.mq($until: mobile) {
    padding-left: 1em;
  }
}

// grid block order
.order-1 {
  order: 1;
}
.order-2 {
  order: 2;
}
.order-3 {
  order: 3;
}

.text-16 {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
}

// etc

.mb-section {
  margin-bottom: 100px;
  @include mq.mq($until: mobile) {
    margin-bottom: 50px;
  }
}
.mb-25px {
  margin-bottom: 25px;
}
.mb-45_25 {
  margin-bottom: 45px;
  @include mq.mq($until: mobile) {
    margin-bottom: 25px;
  }
}

.mw60per {
  max-width: 60%;
  @include mq.mq($until: mobile) {
    max-width: 100%;
  }
}

.float-right {
  float: right;
}

.bg-wrapp {
  background-color: var(--dark-bg);
}
.bg-wrapp_round {
  border-radius: 60px;
}

.nowrap {
  display: flex;
  flex-wrap: nowrap;
}

.phone {
  display: flex;
  flex-shrink: 0;
}

.link-hover {
  text-decoration: none;
  color: var(--base-font-color);
  transition: color 0.3s ease-in-out;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:hover {
    color: var(--hover-color);
    svg path {
      fill: var(--hover-color);
    }
  }
  &:active {
    color: var(--hover-color);
  }
}

.mob-del {
  @include mq.mq($until: mobile) {
    display: none;
  }
}
