<aside class="shop-filter">
  <form action="" method="" class="filter-form">
    <div class="filter-form__item form-item">
      <label class="form-item__header" for="price">Цена ₽</label>
      <div class="form-item__input-wrap">
        <input
          class="price-input"
          type="text"
          name="price-from"
          id="price-from"
          placeholder="От"
        />
        <input
          class="price-input"
          type="text"
          name="price-to"
          id="price-to"
          placeholder="До"
        />
      </div>
    </div>

    <div class="filter-form__item form-item form-item_toggled">
      <div class="form-item__header-wrapper">
        <h3 class="form-item__header">Размер</h3>
        <svg
          class="filter-show-hide"
          width="24"
          height="14"
          viewBox="0 0 24 14"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M12 0L24 11.9059L21.8894 14L12 4.1882L2.11065 14L0 11.9059L12 0Z"
            fill="#17191C"
          />
        </svg>
      </div>
      <fieldset class="filter-set">
        <label class="check__label">
          <input class="check" type="checkbox" name="checkbox" disabled />
          Фасады из массива
        </label>
        <label class="check__label">
          <input class="check" type="checkbox" name="checkbox" />
          Кухни с барной стойкой
        </label>
        <label class="check__label">
          <input class="check" type="checkbox" name="checkbox" checked />
          Классические кухни
        </label>
        <label class="check__label">
          <input class="check" type="checkbox" name="checkbox" checked />
          Фасады из итальянского пластика
        </label>
        <label class="check__label">
          <input
            class="check"
            type="checkbox"
            name="checkbox"
            checked
            disabled
          />
          Фасады МДФ с патиной
        </label>
        <label class="check__label">
          <input class="check" type="checkbox" name="checkbox" disabled />
          Матовые
        </label>
        <label class="check__label">
          <input class="check" type="checkbox" name="checkbox" disabled />
          Глянцевые
        </label>
        <label class="check__label">
          <input class="check" type="checkbox" name="checkbox" disabled />
          Кухни "НеоКлассика"
        </label>
        <label class="check__label">
          <input class="check" type="checkbox" name="checkbox" disabled />
          Кухни модерн
        </label>
        <label class="check__label">
          <input class="check" type="checkbox" name="checkbox" disabled />
          Небольшие кухни
        </label>
        <div class="show-more">Показать больше</div>
      </fieldset>
    </div>

    <div class="filter-form__item form-item form-item_toggled">
      <div class="form-item__header-wrapper">
        <h3 class="form-item__header">Материал</h3>
        <svg
          class="filter-show-hide setbtn__show"
          width="24"
          height="14"
          viewBox="0 0 24 14"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M12 0L24 11.9059L21.8894 14L12 4.1882L2.11065 14L0 11.9059L12 0Z"
            fill="#17191C"
          />
        </svg>
      </div>
      <fieldset class="filter-set filter-set_hide">
        <label class="check__label">
          <input class="check" type="checkbox" name="checkbox" disabled />
          Фасады из массива
        </label>
        <label class="check__label">
          <input class="check" type="checkbox" name="checkbox" />
          Кухни с барной стойкой
        </label>
        <label class="check__label">
          <input class="check" type="checkbox" name="checkbox" checked />
          Классические кухни
        </label>
        <label class="check__label">
          <input class="check" type="checkbox" name="checkbox" checked />
          Фасады из итальянского пластика
        </label>
        <label class="check__label">
          <input
            class="check"
            type="checkbox"
            name="checkbox"
            checked
            disabled
          />
          Фасады МДФ с патиной
        </label>
        <label class="check__label">
          <input class="check" type="checkbox" name="checkbox" disabled />
          Матовые
        </label>
        <label class="check__label">
          <input class="check" type="checkbox" name="checkbox" disabled />
          Глянцевые
        </label>
        <label class="check__label">
          <input class="check" type="checkbox" name="checkbox" disabled />
          Кухни "НеоКлассика"
        </label>
        <label class="check__label">
          <input class="check" type="checkbox" name="checkbox" disabled />
          Кухни модерн
        </label>
        <label class="check__label">
          <input class="check" type="checkbox" name="checkbox" disabled />
          Небольшие кухни
        </label>
        <div class="show-more">Показать больше</div>
      </fieldset>
    </div>

    <div class="filter-form__item form-item form-item_toggled">
      <div class="form-item__header-wrapper">
        <h3 class="form-item__header">Цвет</h3>
        <svg
          class="filter-show-hide"
          width="24"
          height="14"
          viewBox="0 0 24 14"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M12 0L24 11.9059L21.8894 14L12 4.1882L2.11065 14L0 11.9059L12 0Z"
            fill="#17191C"
          />
        </svg>
      </div>
      <fieldset class="filter-set">
        <label class="check__label">
          <input class="check" type="checkbox" name="checkbox" disabled />
          Белый
        </label>
        <label class="check__label">
          <input class="check" type="checkbox" name="checkbox" />
          Хаки
        </label>
        <label class="check__label">
          <input class="check" type="checkbox" name="checkbox" checked />
          Бирюза
        </label>
        <label class="check__label">
          <input class="check" type="checkbox" name="checkbox" checked />
          Сирень
        </label>
        <label class="check__label">
          <input
            class="check"
            type="checkbox"
            name="checkbox"
            checked
            disabled
          />
          Бриз
        </label>
        <label class="check__label">
          <input class="check" type="checkbox" name="checkbox" disabled />
          Лайт
        </label>
        <label class="check__label">
          <input class="check" type="checkbox" name="checkbox" disabled />
          Стинго
        </label>
      </fieldset>
    </div>
    <button class="grey-btn">Сбросить</button>
  </form>
</aside>
