<section class="shop-page">
  <div class="container">
    <div class="shop-page__wrap container-offset">
      <div class="shop-page__breadcrumbs">
        <div class="breadcrumbs__item">СК Мебель</div>
        <div class="breadcrumbs__item breadcrumbs__item_active">
          Готовые кухонные гарнитуры и комплекты
        </div>
      </div>
      <div class="shop-page__wrapper">
        <div class="shop-page__filter">@include('./filter.html')</div>
        <div class="shop-page__cat">@include('./cat.html')</div>
      </div>
    </div>
  </div>
</section>
